<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login-Signup 초안</title>
  <link rel="stylesheet" href="../css/login.1.css">
</head>
<body>
  <section class="login">
    <h1 class="login__logo"><img src="../img/logo.png" alt="" class="login__logo-img"></h1>
    <h2 class="login__title">하루한장 로그인</h2>
    <div class="login__box">
      <form action="javascript:alert('회원님 반갑습니다');" class="login__form" id="login__form">
        <fieldset class="login__filedset">
            <legend class="login__legend">하루 한장 log in form </legend>
            <label class="login__label-email" for="user-id">이메일</label>
            <input type="email" class="login__input-email" id="user-id" placeholder="E-mail" required>
            <label class="login__label-password" for="user-pw">비밀번호</label>
            <input type="password" class="login-password" id="user-pw" placeholder="password" minlength="8" required>
            <button class="login__button" type="submit">로그인</button>
          </fieldset>
      </form>
    </div>
    <div class="newuser__box">
        <a href="#" class="login__id-pw-find">아이디/비밀번호 찾기</a>
        <a href="#" class="newuser__link">계정만들러 가기</a>
      </div>
    </section>
</body>
</html>
