* {
  box-sizing: border-box; }

html {
  font-family: 'Spoqa Han Sans', 'Sans-serif'; }

html, body, div, header, section, h1, h2, p, fieldset, input, label, fieldset, textarea,
body, h1, h2, h3, input, button, a, form, div, figure, img, p, span, time, ul, li {
  margin: 0;
  padding: 0; }

[v-cloak] {
  display: none; }

a {
  text-decoration: none; }

li {
  list-style: none; }

fieldset, img, button, input, textarea {
  border: 0; }

input, select, option, button, textarea {
  font-size: inherit;
  font-family: inherit; }

@media screen and (min-width: 1025px) {
  .card__info {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    margin-top: -320px;
    width: 980px;
    display: flex;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info {
    background-color: #82cdbb;
    width: 640px;
    margin: 10% auto 0 auto;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); } }

@media screen and (max-width: 450px) {
  .card__info {
    background-color: #16670a;
    width: 95%;
    margin: 0 2.5%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); } }

@media screen and (min-width: 1025px) {
  .card__info--image {
    height: 640px; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--image {
    position: relative;
    height: 640px; }
    .card__info--image img {
      position: absolute;
      width: 100%;
      height: auto; } }

@media screen and (max-width: 450px) {
  .card__info--image {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden; }
    .card__info--image img {
      position: absolute;
      width: 100%; } }

@media screen and (min-width: 1025px) {
  .card__info--contents {
    background-color: #80c95c;
    width: 340px;
    position: relative; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--contents {
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
    .card__info--contents::after {
      content: '';
      display: block;
      clear: both; } }

@media screen and (max-width: 450px) {
  .card__info--contents {
    position: relative;
    padding: 2%; }
    .card__info--contents::after {
      content: '';
      display: block;
      clear: both; } }

@media screen and (min-width: 1025px) {
  .card__info--title {
    background-color: #1118d7;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 300; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--title {
    padding-top: 10px;
    padding-bottom: 10px; } }

@media screen and (max-width: 450px) {
  .card__info--title {
    background-color: #1ec966;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2% 0; } }

@media screen and (min-width: 1025px) {
  .card__info--emotions {
    background-color: #a7ac49;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px; }
    .card__info--emotions li {
      height: 40px; }
      .card__info--emotions li img {
        width: 40px;
        height: 40px; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--emotions {
    position: absolute;
    top: -15px;
    right: 30px;
    width: 180px;
    display: flex;
    justify-content: space-between; }
    .card__info--emotions::after {
      content: '';
      display: block;
      clear: both; }
    .card__info--emotions li {
      height: 30px; } }

@media screen and (max-width: 450px) {
  .card__info--emotions {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 50%;
    margin-left: -10%;
    display: flex;
    justify-content: space-between; }
    .card__info--emotions li {
      height: 40px; }
      .card__info--emotions li img {
        width: 40px;
        height: 40px; } }

@media screen and (min-width: 1025px) {
  .card__info--text {
    padding: 10px;
    height: 480px;
    background-color: #32fcf4; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--text {
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media screen and (max-width: 450px) {
  .card__info--text {
    background-color: #5a93cf;
    font-weight: 200;
    padding: 2% 0; } }

@media screen and (min-width: 1025px) {
  .card__info--date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.1rem; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--date {
    font-size: 0.8rem;
    display: inline-block;
    padding-top: 1.8rem; } }

@media screen and (max-width: 450px) {
  .card__info--date {
    background-color: #d13c69;
    font-size: 0.9rem;
    float: left;
    margin-top: 24px; } }

@media screen and (min-width: 1025px) {
  .card__info--button-box {
    position: absolute;
    bottom: 10px;
    right: 10px; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--button-box {
    float: right;
    padding-top: 5px; } }

@media screen and (max-width: 450px) {
  .card__info--button-box {
    background: #40e051;
    float: right; } }

@media screen and (min-width: 1025px) {
  .card__info--modify-button, .card__info--delete-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: #214f91; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .card__info--modify-button, .card__info--delete-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    border-radius: 3px;
    background-color: #bbbeeb; } }

@media screen and (max-width: 450px) {
  .card__info--modify-button, .card__info--delete-button {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 3px;
    background-color: #bbeb42; } }

@media screen and (min-width: 1025px) {
  .arrow__box {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -42px;
    margin-left: -600px;
    display: flex;
    justify-content: space-between; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .arrow__box {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    z-index: -99;
    display: flex;
    justify-content: space-between; } }

@media screen and (max-width: 450px) {
  .arrow__box {
    display: none; } }

@media screen and (min-width: 1025px) {
  .arrow__prev, .arrow__next {
    padding: 10px;
    background-color: #fff; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .arrow__prev, .arrow__next {
    background-color: #fff; } }

@media screen and (min-width: 1025px) {
  .write {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    margin-top: -320px;
    width: 980px;
    display: flex;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write {
    background-color: #82cdbb;
    width: 640px;
    margin: 10% auto 0 auto;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); } }

@media screen and (max-width: 450px) {
  .write {
    background-color: #16670a;
    width: 95%;
    margin: 0 2.5%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3); } }

@media screen and (min-width: 1025px) {
  .write__image {
    height: 640px; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write__image {
    position: relative;
    height: 640px; }
    .write__image img {
      position: absolute;
      width: 100%;
      height: auto; } }

@media screen and (max-width: 450px) {
  .write__image {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden; }
    .write__image img {
      position: absolute;
      width: 100%; } }

@media screen and (min-width: 1025px) {
  .write__form {
    background-color: #80c95c;
    width: 340px;
    position: relative; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write__form {
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
    .write__form::after {
      content: '';
      display: block;
      clear: both; } }

@media screen and (max-width: 450px) {
  .write__form {
    position: relative;
    padding: 2%; }
    .write__form::after {
      content: '';
      display: block;
      clear: both; } }

@media screen and (min-width: 1025px) {
  .write__input--title {
    background-color: #e3e3e3;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 300; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write__input--title {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media screen and (max-width: 450px) {
  .write__input--title {
    background-color: #1ec966;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2% 0; } }

.write__textarea--text {
  resize: none; }
  @media screen and (min-width: 1025px) {
    .write__textarea--text {
      display: block;
      width: 100%;
      height: 480px;
      padding: 10px;
      background-color: #e3e3e3; } }
  @media screen and (min-width: 451px) and (max-width: 1024px) {
    .write__textarea--text {
      display: block;
      width: 100%;
      font-size: 1.1rem;
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media screen and (max-width: 450px) {
    .write__textarea--text {
      display: block;
      width: 100%;
      background-color: #e3e3e3;
      font-weight: 200;
      padding: 2% 0; } }

@media screen and (min-width: 1025px) {
  .write__date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.1rem; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write__date {
    font-size: 0.8rem;
    display: inline-block;
    padding-top: 1.8rem; } }

@media screen and (max-width: 450px) {
  .write__date {
    background-color: #d13c69;
    font-size: 0.9rem;
    float: left;
    margin-top: 24px; } }

@media screen and (min-width: 1025px) {
  .write__button--box {
    position: absolute;
    bottom: 10px;
    right: 10px; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write__button--box {
    float: right;
    padding-top: 5px; } }

@media screen and (max-width: 450px) {
  .write__button--box {
    background: #40e051;
    float: right; } }

@media screen and (min-width: 1025px) {
  .write__button--write,
  .write__button--reset,
  .write__button--cancel {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: #214f91; } }

@media screen and (min-width: 451px) and (max-width: 1024px) {
  .write__button--write,
  .write__button--reset,
  .write__button--cancel {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    border-radius: 3px;
    background-color: #bbbeeb; } }

@media screen and (max-width: 450px) {
  .write__button--write,
  .write__button--reset,
  .write__button--cancel {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 3px;
    background-color: #bbeb42; } }

/*# sourceMappingURL=../map/page.css.map */